*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;

}
#main{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0); /*transparent*/
}

#imagelayer{
    height: 100%;
    width: 100%;
    /*background-color: red;*/   
}

#imagelayer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#textlayer{
    height: 100vh;
    width: 100%;
    position: absolute; /* coz text layer will be on the top of image layer */
    top: 0;
    left: 0;
    background-color: rgba(0, 255, 255, 0); /* transparent */
    pointer-events: none; /* because we dont want any clicks by user on this text layer 
                              we want pointer events unblocked on image layer though */
}

#workingarea{
    height: 100vh;
    width: 80%;
    max-width: 1920px;
    background-color: rgba(0, 0, 0, 0); /* transparent */
    margin: 0 auto;
    position: relative; /*helps to hold the text div at the almost center*/

}

#nav{
    
     width: 100%;
     padding: 10px 15px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     pointer-events: all; /* previously we blocked all the pointer events on the text layer
                          and nav is also part of the text layer thats why we have to unblock
                          pointer events perticularly  on nav to click the options */
     background-color: rgba(255, 0, 0, 0);   /* transparent */                   
}

#nav img{
     height: 25px;
     
}

#left , #right {
    display: flex;
    align-items: center;
    gap: 20px;

}

#nav a {
    color: aliceblue;
    font-family: "gilroy";
    font-size: xx-small;
    text-decoration: none; /* for this underlines will go away from about,items */
    text-transform: uppercase;
    letter-spacing: 1px;
}



#text{
    position: absolute;   /*helps to hold the text div at the almost center*/
    top: 28%;  /*helps to hold the text div at the almost center (leave 35% from top)*/
    left: 0;
   /* transform: translate(0%,-50%);  /* translate(width , height)  it helps to hold the text div to the center height wise*/
    display: flex;
    height: 100px;
    width: 100%;
    background-color: rgba(137, 43, 226, 0); /* transparent */
    align-items: center;
    justify-content: space-between;
    
}

#tleft{
    min-width:50%;
    height: 100px;
   /* background-color: rgb(255, 0, 115); */
    margin-bottom: 23%;
}

#tleft .elem{
    
    height: 13vw;
    /*background-color: rgb(89, 0, 255); */
     overflow: hidden; /*this will disappear texts which are outside of the box */
    position: relative;
} 

#tleft .elem h1{
    position: absolute; 
    top: 100%; 
    left: 0; 
    line-height: 1;
    font-family:"kajiro";
    font-size: 12vw;
    color: aliceblue;
    font-weight: 100;
    text-shadow:rgb(102, 0, 255) 0px  8px; /* 0px for width 8px for height*/
   
}

#tleft .elem h1:nth-child(1) {
    top : 0; 
    
}

#tleft button{
    padding: 2vw 2vw;
    border-radius: 10%;
    font-family: "kajiro";
    font-size: 3vw;
    font-weight: lighter;
    margin-top: 1vw; /* will create distance between above texts and the button*/
    pointer-events: all;  /* previously we blocked all the pointer events on the text layer
    and button is also part of the text layer thats why we have to unblock
    pointer events perticularly  on button to click on it */

}


#tright{
    
   
    width: 17%;
    color: antiquewhite;
    
    font-family: "gilroy";
   /*background-color: rgb(72, 255, 0); */
    display: flex;
    flex-direction: column;
    align-items: flex-end; /*will help to add new line at the end*/
    
}


#tright p {
    
    margin-bottom: 10%;
    
    font-size: 10px;
    text-align: right;
}

#tright p:nth-child(1){
    
    margin-top: 120%; /* only for 1st <p> */
 }

#tright #imagediv{
    width: 100%;
    height: 80px;
    background-color: rgb(102, 0, 255); /* optional here */
    display: flex;
    margin: 10px 0px;
    /*background-image: url(https://cdn.pixabay.com/photo/2022/12/24/21/12/background-7676470_1280.jpg); */
    background-position: center; /* optional here */
    display: flex;
    border-radius: 50%;
   
}


#imagediv img{             /* M by my OWN */
    object-fit: cover;
    height: 100%;
    width: 100%;
    align-items: center;
    border-radius: 50%;
}

/* to solve the white portion problem at the end 
i resized the text div and gave margin-bottom to tleft div */

/*and to solev the tright div's increasing towards nav problem
i gave only 1st <p> margin top */




